*{
    margin:0;
    padding:0;
}

h1{
    text-align:center;
}

.parent-div{
    background-color:#4a6fff;
    color:white;
    width:25%;
    margin:1%;
    padding:2%;
    border:0.5em solid tomato;
    float:left;
    border-radius:20px;
    /* max-width:1140px; */
}
